*.ipch
*.opendb
*.vsidx
.vs/GameEngineFinal/v17/.suo
*.db
*.db-shm
*.db-wal
*.vsidx
.vs/SFMLGame/FileContentIndex/722764c9-7a73-4d21-96b2-b3920118459f.vsidx
/.vs/SFMLGame/v17
.vs/SFMLGame/v17/.suo
*.db
.vs/SFMLGame/FileContentIndex/4cdcd42b-1c50-40a8-ab10-25382857892f.vsidx
.vs/SFMLGame/v17/Browse.VC.db
.vs/SFMLGame/v17/Browse.VC.db-shm
.vs/SFMLGame/v17/Browse.VC.db-wal
.vs/SFMLGame/v17/Browse.VC.opendb
SFMLGame/SFMLGame.vcxproj
SFMLGame/SFMLGame.vcxproj.filters
SFMLGame/SFMLGame.vcxproj.user
.vs/SFMLGame/FileContentIndex/28049ad5-bbc0-4134-bfbf-fee6e80897e7.vsidx
.vs/SFMLGame/v17/.suo
.vs/SFMLGame/v17/DocumentLayout.backup.json
.vs/SFMLGame/v17/DocumentLayout.json
.vs/SFMLGame/v17/Solution.VC.db
SFMLGame/imgui.ini
/SFMLGame/x64
/x64
/.vs
.vs/SFMLGame/v17/ipch/AutoPCH/bf1ecba5200adc52/SCENE_ZELDA.ipch
*.ipch
.vs/SFMLGame/v17/Browse.VC.db
*.tlog
*.tlog
SFMLGame/x64/Release/SFMLGame.tlog/CL.write.1.tlog
*.json
*.json
x64/Release/SFMLGame.exe
.vs/SFMLGame/v17/Browse.VC.db
